@{
    ViewData["Title"] = "创建文章";
}
<h2>@ViewData["Title"]</h2>

<span class="input-group-addon" id="sizing-addon1">标题</span>
<input type="text" class="form-control" placeholder="标题" aria-describedby="sizing-addon1">
<br />
<span class="input-group-addon" id="sizing-addon1">内容</span>
<textarea class="form-control" aria-label="content"></textarea>
<br />
<button class="btn btn-default btn-lg">创建</button>
